misc/sb-flows.json
[
    {
        "id": "ecde5e1b59fa55db",
        "type": "tab",
        "label": "Sonnenbatterie aufladen",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12004699161d9839",
        "type": "config",
        "z": "ecde5e1b59fa55db",
        "name": "Sonnen Parameter Config",
        "properties": [
            {
                "p": "sonnen_api_ip",
                "pt": "flow",
                "to": "192.168.2.108",
                "tot": "str"
            },
            {
                "p": "sonnen_api_token",
                "pt": "flow",
                "to": "215ddea7-dff9-421b-8744-ee2504f9ec0e",
                "tot": "str"
            },
            {
                "p": "sonnen_target_soc",
                "pt": "flow",
                "to": "12",
                "tot": "num"
            },
            {
                "p": "sonnen_charge_watts",
                "pt": "flow",
                "to": "4500",
                "tot": "num"
            }
        ],
        "active": true,
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "0c3724e2b754393b",
        "type": "inject",
        "z": "ecde5e1b59fa55db",
        "name": "Start Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "dca839cce2e70b04"
            ]
        ]
    },
    {
        "id": "7db514fbd4d49a6d",
        "type": "http request",
        "z": "ecde5e1b59fa55db",
        "name": "Generic HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 180,
        "wires": [
            [
                "116fa62081c989d8",
                "1a4b3c325154e085"
            ]
        ]
    },
    {
        "id": "dca839cce2e70b04",
        "type": "function",
        "z": "ecde5e1b59fa55db",
        "name": "Build LatestData Request",
        "func": "\nvar sonnen_ip = flow.get(\"sonnen_api_ip\");\nvar sonnen_token = flow.get(\"sonnen_api_token\");\n\nvar endpoint = \"/api/v2/latestdata\"\n\nmsg.url = \"http://\" + sonnen_ip + endpoint;\nmsg.method = \"GET\"\nmsg.headers = {};\nmsg.headers['Auth-Token'] = sonnen_token;\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            [
                "7db514fbd4d49a6d"
            ]
        ]
    },
    {
        "id": "116fa62081c989d8",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug: Print Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 180,
        "wires": []
    },
    {
        "id": "1a4b3c325154e085",
        "type": "switch",
        "z": "ecde5e1b59fa55db",
        "name": "SoC < Desired SoC?",
        "property": "payload.USOC",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "sonnen_target_soc",
                "vt": "flow"
            },
            {
                "t": "lt",
                "v": "sonnen_target_soc",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 280,
        "wires": [
            [
                "eb3de3331471afce",
                "507f81a5c6fe7405"
            ],
            [
                "5c1192c9ebbf3e99"
            ]
        ]
    },
    {
        "id": "48dac6e3d25c5172",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug: Prep Charging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 460,
        "wires": []
    },
    {
        "id": "eb3de3331471afce",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug: Larger Than Desired SoC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.USOC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 260,
        "wires": []
    },
    {
        "id": "507f81a5c6fe7405",
        "type": "function",
        "z": "ecde5e1b59fa55db",
        "name": "Prepare Reset to normal Mode",
        "func": "var sonnen_ip = flow.get(\"sonnen_api_ip\");\nvar sonnen_token = flow.get(\"sonnen_api_token\");\n\nvar endpoint = \"/api/v2/configurations\"\n\nmsg.url = \"http://\" + sonnen_ip + endpoint;\nmsg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['Auth-Token'] = sonnen_token;\nmsg.payload = {\"EM_OperatingMode\":\"2\"}\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "ec1a9fa08980389a"
            ]
        ]
    },
    {
        "id": "ec1a9fa08980389a",
        "type": "http request",
        "z": "ecde5e1b59fa55db",
        "name": "Generic HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 340,
        "wires": [
            [
                "ea2c5839f5112306"
            ]
        ]
    },
    {
        "id": "ea2c5839f5112306",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug: Normal Mode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 340,
        "wires": []
    },
    {
        "id": "5c1192c9ebbf3e99",
        "type": "function",
        "z": "ecde5e1b59fa55db",
        "name": "Prepare Charging (OM=1)",
        "func": "var sonnen_ip = flow.get(\"sonnen_api_ip\");\nvar sonnen_token = flow.get(\"sonnen_api_token\");\n\nvar endpoint = \"/api/v2/configurations\"\n\nmsg.url = \"http://\" + sonnen_ip + endpoint;\nmsg.method = \"PUT\"\nmsg.headers = {};\nmsg.headers['Auth-Token'] = sonnen_token;\nmsg.payload = {\"EM_OperatingMode\":\"1\"}\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "82f963327bcb3c8d"
            ]
        ]
    },
    {
        "id": "82f963327bcb3c8d",
        "type": "http request",
        "z": "ecde5e1b59fa55db",
        "name": "Generic HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 460,
        "wires": [
            [
                "48dac6e3d25c5172",
                "0940872fb76691f8"
            ]
        ]
    },
    {
        "id": "0940872fb76691f8",
        "type": "function",
        "z": "ecde5e1b59fa55db",
        "name": "Prepare Start Charging",
        "func": "var sonnen_ip = flow.get(\"sonnen_api_ip\");\nvar sonnen_token = flow.get(\"sonnen_api_token\");\nvar sonnen_watts = flow.get(\"sonnen_charge_watts\");\n\nvar endpoint = \"/api/v2/setpoint/charge/\" + sonnen_watts;\n\nmsg.url = \"http://\" + sonnen_ip + endpoint;\nmsg.method = \"POST\"\nmsg.headers = {};\nmsg.headers['Auth-Token'] = sonnen_token;\nmsg.payload = {};\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 560,
        "wires": [
            [
                "5862d937582401a0"
            ]
        ]
    },
    {
        "id": "4ad7477d767937d7",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug Charging USOC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.USOC",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 560,
        "wires": []
    },
    {
        "id": "5862d937582401a0",
        "type": "http request",
        "z": "ecde5e1b59fa55db",
        "name": "Generic HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "4ad7477d767937d7",
                "29da63151f9496c2"
            ]
        ]
    },
    {
        "id": "29da63151f9496c2",
        "type": "switch",
        "z": "ecde5e1b59fa55db",
        "name": "Charging ok?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 430,
        "y": 660,
        "wires": [
            [
                "4702449e1d1d63d4"
            ]
        ]
    },
    {
        "id": "4702449e1d1d63d4",
        "type": "delay",
        "z": "ecde5e1b59fa55db",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 660,
        "wires": [
            [
                "dca839cce2e70b04"
            ]
        ]
    },
    {
        "id": "3ad40d1a4bbae630",
        "type": "inject",
        "z": "ecde5e1b59fa55db",
        "name": "Start Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 820,
        "wires": [
            [
                "0d6c19c567291893"
            ]
        ]
    },
    {
        "id": "0d6c19c567291893",
        "type": "function",
        "z": "ecde5e1b59fa55db",
        "name": "Build getConfigs Request",
        "func": "\nvar sonnen_ip = flow.get(\"sonnen_api_ip\");\nvar sonnen_token = flow.get(\"sonnen_api_token\");\n\nvar endpoint = \"/api/v2/configurations\"\n\nmsg.url = \"http://\" + sonnen_ip + endpoint;\nmsg.method = \"GET\"\nmsg.headers = {};\nmsg.headers['Auth-Token'] = sonnen_token;\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 820,
        "wires": [
            [
                "873c069bc676d36a"
            ]
        ]
    },
    {
        "id": "873c069bc676d36a",
        "type": "http request",
        "z": "ecde5e1b59fa55db",
        "name": "Generic HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 850,
        "y": 820,
        "wires": [
            [
                "0c6209ccb736d40c"
            ]
        ]
    },
    {
        "id": "0c6209ccb736d40c",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug: Print Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 820,
        "wires": []
    },
    {
        "id": "d9e87493caa24cf3",
        "type": "inject",
        "z": "ecde5e1b59fa55db",
        "name": "Start Flow",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 900,
        "wires": [
            [
                "aa72ffdc99881425"
            ]
        ]
    },
    {
        "id": "aa72ffdc99881425",
        "type": "function",
        "z": "ecde5e1b59fa55db",
        "name": "Build LatestData Request",
        "func": "\nvar sonnen_ip = flow.get(\"sonnen_api_ip\");\nvar sonnen_token = flow.get(\"sonnen_api_token\");\n\nvar endpoint = \"/api/v2/latestdata\"\n\nmsg.url = \"http://\" + sonnen_ip + endpoint;\nmsg.method = \"GET\"\nmsg.headers = {};\nmsg.headers['Auth-Token'] = sonnen_token;\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 900,
        "wires": [
            [
                "d21dbaebdee3de82"
            ]
        ]
    },
    {
        "id": "d21dbaebdee3de82",
        "type": "http request",
        "z": "ecde5e1b59fa55db",
        "name": "Generic HTTP Request",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 900,
        "wires": [
            [
                "15922fdeb9d20e77"
            ]
        ]
    },
    {
        "id": "15922fdeb9d20e77",
        "type": "debug",
        "z": "ecde5e1b59fa55db",
        "name": "Debug: Print Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 900,
        "wires": []
    }
]